.center { text-align: center; }
.container {
  .alert { margin-top: 20px; }
}
.clear-both { clear: both; }

/* Forms */
.field_with_errors { color: red; }
.form-errors-list { margin-top: 20px; }

.hard-top-20 { margin-top: 20px; }
