.center { text-align: center; }
.container {
  .alert { margin-top: 20px; }
}
.clear-both { clear: both; }

/* Forms */
.field_with_errors { color: red; }
.form-errors-list { margin-top: 20px; }

.hard-top-20 { margin-top: 20px; }

.field_with_errors .checkbox,
.field_with_errors .checkbox-inline,
.field_with_errors .control-label,
.field_with_errors .help-block,
.field_with_errors .radio,
.field_with_errors .radio-inline,
.field_with_errors.checkbox label,
.field_with_errors.checkbox-inline label,
.field_with_errors.radio label,
.field_with_errors.radio-inline label{color:#a94442}
.field_with_errors .form-control{border-color:#a94442;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.field_with_errors .form-control:focus{border-color:#843534;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}
.field_with_errors .input-group-addon{color:#a94442;background-color:#f2dede;border-color:#a94442}
.field_with_errors .form-control-feedback{color:#a94442}
